@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
@import url(//fonts.googleapis.com/css?family=Roboto:400,300,500);
/* Insert your pool's unique css here */

.marketRate {
/*  display: none;*/
}
a {
  color: #cc5490!important;
}

a:hover {
  color: #cc5490;
}

a.white {
  color: #ccc!important; 
}

a.admin {
  color: #fff!important;
}

body {
  font-size: 14px;
  line-height: 1.428571429;
  color: #ccc!important;
  font-family: 'Helvetica Neue',Helvetica,'Roboto'Arial,sans-serif;
  background: #333;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto Condensed', Arial, sans-serif;
}
h3,
.h3 {
  font-size: 32px;
  margin-bottom: 14px;
}
.navbar-inverse {
  background-color: #ff69b4!important;
  border-color: #f9f9f8;
  border-width: 0;
}
.navbar-inverse .	 {
  background-color: rgba(0, 0, 0, 0);
}
.navbar-inverse .navbar-brand {
  color: #fff!important;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
}
.navbar-inverse .navbar-text {
  color: #CEE3E4;
}
.navbar-inverse .navbar-nav > li > a {
  color: #F0F9FA!important;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #cc5490!important;
}
#stats_updated {
  color: #EBF8FC!important;
}
hr {
  border-top-color: #BBBBBB;
}

.round {
    margin: 0 auto;
}

.stats > div:not(#addressError) {
  color: #ccc!important;
  padding: 10px 0px;
}
.stats > div:not(#addressError).marketFooter {
  padding: 5px 0;
}
.stats > div:not(#addressError) > i.fa {
  color: #cc5490!important;
  font-size: 21px;
  width: 30px;
  text-align: center;
}
.stats > div:not(#addressError) > span:not(.input-group-btn):first-of-type {
  font-weight: 500;
  padding: 0 2px;
  color: #cc5490!important;
}
.form-control {
  border: 1px solid #cc5490;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #cc5490;
}
.input-group-addon {
  background-color: #cc5490!important;
  border-color: #cc5490!important;
}
.btn-default {
  color: #fff!important;
  background-color: #cc5490!important;
  border-color: #cc5490!important;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #cc5490;
  border-color: #026a4d;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #cc5490;
  border-color: #cc5490;
}
.btn-default .badge {
  color: #cc5490;
  background-color: #ffffff;
}
.table th,
.table .miningAppTitle {
  font-weight: 500;
  font-size: 18px;
  color: #ff69b4;
}
code {
  padding: 4px 10px;
  color: #cc5490!important;
  background-color: #EBF8FC!important;
  border-radius: 0;
}
.container .paymentsStatHolder,
.container .blocksStatHolder {
  padding-top: 20px;
}
.container .paymentsStatHolder > span,
.container .blocksStatHolder > span,
.blocksStatHolder > div > span {
  border: none!important;
  padding: 6px 13px!important;
}
.container .paymentsStatHolder > span > span,
.container .blocksStatHolder > span > span {
  font-weight: 500;
}
.blocksStatHolder > span,
.paymentsStatHolder > span,
.blocksStatHolder > span{
    display: inline-block;
    border-radius: 5px;
    padding: 1px 9px;
    border: 1px solid #e5e5e5;
    margin: 2px;
}
.blocksStatHolder > span > span,
.paymentsStatHolder > span > span,
.blocksStatHolder > span > span{
    font-weight: bold;
}
#blocks_rows > tr > td, 
#payments_rows > tr > td,
#blocks_rows > tr > td,
#network_rows > tr > td{
    vertical-align: middle;
    font-family: 'Inconsolata', monospace;
    padding-left: 12px!important;
}

.luckGood{
    color: #0C3!important;
}
.luckBad{
    color: #F03!important;
}

.bg-primary {
  background-color: #cc5490!important;
}
.bg-info {
  background-color: #cc5490!important;
  color: #fff;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #444!important;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #f5f5f5!important;
}
.table > thead > tr > th {
  color: #cc5490!important;
  border-bottom-color: #cc5490!important;
}
.table > tbody > tr > td {
  border-top-color: #c9e0e9;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #444;
}

.fa-check {color:#0C3;}
.fa-ban {color:#F03;}

footer {
  background-color: #FDFDFD;
display:none;
}

tr[title="pending"] {
    color: #ccc;
}

tr[title="unlocked"], tr.success {
    background: #b9e9f5!important;
}
/************************************************
*** charts ***
************************************************/
.chartsPoolStat {
  padding-top: 30px;
}

.chartWrap {
	display: none;
}

.userChart .chart,
.chartWrap .chart {
  margin-bottom: 10px;
}
.userChart h4,
.chartWrap h4 {
  text-align: center;
  font-size: 21px;
}
.userChart {
  display: none;
}
/************************************************
*** sparkline override ***
************************************************/
.jqstooltip {
  border: none !important;
  background: rgba(0, 0, 0, 0.8) !important;
  border-radius: 2px !important;
  margin-top: -20px !important;
  /* Override Bootstrap defaults to fix jQuery.Sparkline tooltips appearance */
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box;
  box-sizing: content-box !important;
}
.jqstooltip .jqsfield {
  color: #ccc;
  font-size: 13px !important;
}
.jqstooltip .jqsfield b {
  color: #fff;
}
/************************************************
*** home page fixes ***
************************************************/
#yourAddressDisplay {
  word-wrap: break-word;
}
/************************************************
*** 20% width block ***
************************************************/
.col-sm-20 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-sm-30 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .col-sm-20 {
    float: left;
    width: 20%;
  }
    .col-sm-33 {
    float: left;
    width: 33%;
  }
}


}
/************************************************
*** admin page ***
************************************************/
.btn-primary {
  color: #ffffff;
  background-color: #cc5490;
  border-color: #cc5490;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #cc5490;
  border-color: #026a4d;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #cc5490;
  border-color: #cc5490;
}
.btn-primary .badge {
  color: #cc5490;
  background-color: #ffffff;
}
a.list-group-item {
  font-size: 1.1em;
}
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  color: #fff!important;
  background-color: #cc5490;
  border-color: #cc5490;
}
a.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
a.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.adminStats > div {
  min-height: 127px;
  color: #2E3D31;
  position: relative;
  -webkit-box-shadow: inset 0px 0px 0 1px #ffffff;
  box-shadow: inset 0px 0px 0 1px #ffffff;
  background-color: #EBEBEB;
}
.adminStats .statValue {
  position: absolute;
  display: block;
  padding: 0 10px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 100px;
  text-align: center;
  word-wrap: break-word;
  font-size: 17px;
}
.adminStats .statValue.lead {
  font-size: 21px;
  font-weight: 600;
}
.adminStats h4 {
  text-align: right;
  font-size: 18px;
  position: absolute;
  bottom: 10px;
  right: 15px;
  margin: 0;
  color: #26839B;
}
.adminStats .statsTitle h3 {
  line-height: 127px;
  margin: 0;
  color: #00C1FF;
  text-align: center;
}
.usersList {
  table-layout: fixed;
  word-wrap: break-word;
}
.usersList .tooltip-inner {
  max-width: 100%;
}
.usersList .sort {
  cursor: pointer;
}
.usersList tr > th:first-child {
  width: 40%;
}
strong,
b {
  font-weight: 500;
}
.nav-pills > li > a {
  border-radius: 0;
  background-color: #F3F3F3;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #cc5490;
}
.adminMonitor code {
  white-space: normal;
}
.adminMonitor .tab-pane li {
  margin-bottom: 10px;
}

.stats {
    font-size: 18px;
}

#miningPoolHost{
    font-size: 28px;
}

#miningPorts {
    font-size: 20px;
}

#walletid {
  word-wrap: break-word;
}
#red {
    color: red;
    font-size: 22px;
}
.ccc-widget{
    max-width:400px;
    margin: 0 auto;
}
#coinName{
    display:none;
}
.menuIcon {
    margin: 0px 10px 0px 0px;
    padding: 0px;
    width: 32px;
    height: 32px;
}

#coinName{
    text-transform: capitalize;
}
body {
    padding-top: 65px;
    padding-bottom: 80px;
    overflow-y: scroll;
}
.container{
    font-size: 1.1em;
    padding-left: 5px;
    padding-right: 0px;
}

#loading{
    font-size: 2em;
}
.stats {
    margin-bottom: 10px;
    margin-top: 5px;
}
.stats:last-child{
    width: auto;
}
.stats > h3 > i{
    font-size: 0.80em;
    width: 21px;
}
.stats > div{
    padding: 5px 0;
}
.stats > div > .fa {
    width: 25px;
}
.stats > div > span:first-of-type{
    font-weight: bold;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}

footer > div{
    margin: 10px auto;
    text-align: center;
}

span.mempool > a{
	color: #fff!important;
}
#poolWorkers{
	color: #cc5490!important;
	font-weight: 500;
}
.marketFooter{
	font-size: 10px;
	opacity: 0.6;
}
#networkLastReward{
	text-transform: uppercase;
}
#lastHash{
	font-family: 'Inconsolata', monospace;
	font-size: 0.8em;
}
#poolDonations{
	font-size: 0.75em;
}
#miningProfitCalc{
	margin: 35px 0;
}
#calcHashDropdown{
	border-radius: 0;
	border-left: 0;
	border-right: 0;
}
#calcHashHolder{
	width: 590px;
	max-width: 100%;
}
#calcHashRate{
	z-index: inherit;
	font-family: 'Inconsolata', monospace;
}
#calcHashAmount{
	font-family: 'Inconsolata', monospace;
}
#calcHashResultsHolder{
	min-width: 145px;
	max-width: 145px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#yourStatsInput{
	z-index: inherit;
	font-family: 'Inconsolata', monospace;
}
#yourAddressDisplay > span {
	font-family: 'Inconsolata', monospace;
}
#lookUp > span:nth-child(2){
	display: none;
}
.yourStats{		
		display: none;		
	}
#yourAddressDisplay{
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	font-family: 'Inconsolata', monospace;
	font-size: 0.9em;
}
#addressError{
	color: red;
}

.top10 td {
    padding: 3px!important;
}

@media (min-width: 2000px) {
    .container {
    width: 2000px !important;
    }
    .pool{
	width:33%!important
	}
	.network{
	width:38%!important
	}
	.toplist{
	width:27%!important
	}
}

@media screen and (min-device-width: 1500px) and (max-device-width: 1999px) { 
    .container {
    width: 1500px !important;
    }
}

.hotlink {
color: #fff!important;
}

